.sidenav-container {
  height: 100vh; 
}

.sidenav {
  width: 250px; 
}

.sidenav .mat-toolbar {
  background: inherit;
  color: white;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.active-link {
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 4px solid white;
}


.spacer {
  flex: 1;
}


.content-container {
  padding: 20px;
  min-height: calc(100vh - 64px); 
}


@media (max-width: 599px) {
  .sidenav {
    width: 85vw; 
  }
}